h1{text-align: center;}
span{
    color: red;
}
.contener{
    margin-top: 5%;
    margin: 0 auto;
    width: 300px;
}
.contener1{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 350px;
    margin: 0 auto;
}
.block {
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border: solid lightblue;
    font-size: 70px;
}
.refresh{
    margin-left: 120px;
    margin-top: 50px;
}

.player-2 {background: red;}
.player-1 {background: #00FFFF;}
